<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="icon" href="/image/task-icon.png">
    <!--css-->
    <link rel="stylesheet" href="/css/style-min.css">
    <link rel="stylesheet" href="/css/background.css">
    <!--font icon-->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
</head>

<body>

    <div class="main-w3layouts wrapper">
        <div class="login-page">
            <div class="form">
                <span class='errorMessage'></span>
                <h3 style="padding-bottom: 20px;" class="login_page">{{title}}</h3>
                <form class="login-form" id="sign_in">
                    <input id="sign_in_email" type="email" placeholder="email address" autocomplete="off" required />
                    <span class="zmdi zmdi-email field-icon-right"></span>
                    <input id="sign_in_pass" type="password" placeholder="password" autocomplete="off" required />
                    <span class="zmdi zmdi-lock field-icon-right"></span>
                    <button>login</button>
                    <p class="message">Not registered? <a href="/">Create an account</a></p>
                </form>
            </div>
        </div>

        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </div>






    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/user.js"></script>
</body>

</html>